@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
body{
    background-color: #CBE5FF;
    font-family: 'Montserrat', sans-serif;
}


.main-content-box {
    display: flex;
}
.side-nav {
    height: 100vh;
    width: 8%;
    padding: 0 20px 0 0;
}
.content-box {
    width: 94%;
}
.nav-menu{
    text-align: center;
}
.nav-menu ul {
    list-style: none;
    padding: 0;
}
.nav-menu ul li a {
    color: #41474D;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    background: transparent;
    border: none;
    padding: 0;
}
.nMenu-icon {
    font-size: 22px;
}
.logo {
    text-align: center;
    margin-bottom: 25px;
    padding-top: 25px;
}
.nav-menu ul li a.active .nMenu-icon i {
    color: #3D0700;
    background: #FFDACF;
    border-radius: 145px;
    display: inline-block;
}
.nav-menu ul li a .nMenu-icon i{
    padding: 8px 20px;
}
.nav-menu ul li:not(:last-child) {
    margin-bottom: 15px;
}
.list-group-item.active {
    background: transparent !important;
    border: none;
    color: #000;
}
.menu-link:hover {
    background: transparent;
}
/*========== banner ==============*/
section.banner {
    padding-top: 30px;
}
.banner-content-plate h2 {
    color: #001D31;
    font-weight: 500;
    font-size: 32px;
    line-height: 45px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.banner-content-plate a {
    color: #3D0700;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    background: #FFDACF;
    padding: 5px 20px;
    display: inline-block;
    border-radius: 20px;
}
.banner-logo img {
    width: 400px;
}
.banner-2-content-plate h2 {
    color: #001D31;
    font-size: 22px;
    font-weight: 500;
    line-height: 35px;
    text-align: justify;
}
.banner-img-plate{
    text-align: center;
}
.rtt {
    transform: rotateY(180deg);
}
section#banner2 {
    padding: 50px 0;
}
.banner-2-content-plate {
    position: relative;
}
.svg-bg {
    position: absolute;
    z-index: -1;
}
.svg-bg-1 {
    bottom: -186px;
    right: 0;
    width: 495px;
}
.svg-bg-2 {
    bottom: -158px;
    right: 0;
    width: 557px;
}
.svg-bg-3 {
    right: 69px;
    top: 30px;
    width: 333px;
}
section#banner4 {
    padding: 50px 0;
}
.svg-bg-4 {
    right: 0;
    bottom: -124px;
    
    width: 629px;
}
.svg-bg-5 {
    right: 115px;
    top: -126px;
    width: 434px;
}
section#banner5 {
    padding: 50px 0;
}

section.form-section {
    padding-top: 15px;
    padding-bottom: 40px;
}
.f-img-plate{
    text-align: center;
}
.input-div{
    margin-bottom: 25px;
}
.input-div input {
    width: 100%;
    height: 50px;
    padding: 0 0 0 15px;
    border: none;
    border-bottom: 3px solid #001D31;
    border-radius: 5px 5px 0px 0px;
    outline:0;
}
.input-div textarea {
    width: 100%;
    min-height: 180px;
    padding: 15px 0 0 15px;
    border: none;
    border-bottom: 3px solid #001D31;
    border-radius: 5px 5px 0px 0px;
    outline:0;
}
::-webkit-input-placeholder{
    color: #40464D;
    font-size: 14px;
}
.form-plate h2 {
    color: #000000;
    margin-bottom: 30px;
    font-size: 40px;
}
.form-plate h6 {
    margin-bottom: 25px;
    color: #000;
}
.f-send {
    color: #3D0700;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    background: #FFDACF;
    display: inline-block;
    border-radius: 20px;
    border: none;
    padding: 10px 22px;
}